pandas
numpy
traitlets
geofetch
pysradb
sra-tools
urllib.request
IPython
ipywidgets

#pandas==2.0.3
#numpy==1.25.0
#traitlets==5.9.0
#geofetch==0.12.3
#pysradb.sraweb==2.1.0
#sra-tools==3.0.6
#urllib.request==3.8
#IPython==7.29.0
#ipywidgets==8.0.7
